[run]
source = .
omit =
    */node_modules/*
    */*migrations*
    */htmlcov/*
    */project/wsgi.py
    */project/asgi.py
    manage.py
    main.py
branch = True

[report]
fail_under = 90
show_missing = True
skip_covered = True
