{% extends 'wedding/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scss %}
<link type="text/x-scss" href="{% static 'wedding/css/rsvp.scss' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block js %}
{% endblock %}

{% block body_js %}
<script src="{% static 'wedding/js/rsvp.js' %}"></script>
{% endblock %}

{% block content %}


<section class="form-container">
    <form id="id_rsvp_form" method="POST">
        {% csrf_token %}
        <div class="section">
            <h3 style="margin-top:0;">PIN:</h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </form>
</section>


{% endblock %}