{% load static %}
<link href="{% static 'css/progress.css' %}" rel="stylesheet">
<script src="{% static 'js/progress.js' %}"></script>
<div class="row mb-2">
    <div class="col-xl-12">
        {% for target in challenge.targets.all %}
            {% if forloop.first or forloop.counter0|divisibleby:4 %}
                <div class="row mb-2">
            {% endif %}

                    <div class="col-xl-3 col-lg-6 mb-4">
                        <div class="bg-white rounded-lg p-3 shadow-lg">

                            <h2 class="h6 font-weight-bold mb-4">{{ target }}
                                <span style="float:right">
                                    <span data-feather="target"></span>
                                    <span data-feather="chevrons-up" ></span>
                                    <span data-feather="chevrons-left"></span>
                                    <span data-feather="chevrons-left"></span>
                                </span>

                            </h2>

                            <div class="progress mx-auto" data-value='80'>
                              <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                              </span>
                                <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                              </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
                                </div>
                            </div>

                            <div class="row text-center mt-4">
                                <div class="col-6 border-right">
                                    <div class="h5 font-weight-bold mb-0">{{ target.target_value }}</div>
                                    <span class="small text-gray">Target</span>
                                </div>
                                <div class="col-6">
                                    <div class="h5 font-weight-bold mb-0">60%</div>
                                    <span class="small text-gray">Achieved</span>
                                </div>
                            </div>
                        </div>
                    </div>

            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<hr>




