{% with request.resolver_match.view_name as view_name %}
{% with request.resolver_match.namespaces as namespaces %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if view_name == 'front:home' %}active{% endif %}" href="{% url 'front:home' %}">
            <i class="fas fa-home"></i>
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if view_name == 'front:profile' %}active{% endif %}" href="{% url 'front:profile' %}">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if view_name == 'front:activities:list' %}active{% endif %}"
           href="{% url 'front:activities:list' %}">
            <i class="fas fa-chart-line"></i>
            Activities
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#id_challenges_sub">
            <i class="fas fa-thumbtack"></i>
            Challenges
        </a>
        <span id="id_challenges_sub" class="collapse {% if 'challenge' in namespaces %}show{% endif %}">
        <ul class="nav flex-column level-two">
            <li class="nav-item">
                <a class="nav-link {% if view_name == 'front:challenge:current' %}active{% endif %}" href="{% url 'front:challenge:current' %}">
                    <i class="fas fa-caret-square-right"></i>
                    Current
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view_name == 'front:challenge:past' %}active{% endif %}" href="{% url 'front:challenge:past' %}">
                    <i class="fas fa-history"></i>
                    Past
                </a>
            </li>
        </ul>
            </span>
    </li>
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="file"></span>-->
    <!--                            Orders-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="shopping-cart"></span>-->
    <!--                            Products-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="users"></span>-->
    <!--                            Customers-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="bar-chart-2"></span>-->
    <!--                            Reports-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="layers"></span>-->
    <!--                            Integrations-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                </ul>-->

    <!--                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
    <!--                    <span>Saved reports</span>-->
    <!--                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">-->
    <!--                        <span data-feather="plus-circle"></span>-->
    <!--                    </a>-->
    <!--                </h6>-->
    <!--                <ul class="nav flex-column mb-2">-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="file-text"></span>-->
    <!--                            Current month-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="file-text"></span>-->
    <!--                            Last quarter-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="file-text"></span>-->
    <!--                            Social engagement-->
    <!--                        </a>-->
    <!--                    </li>-->
    <!--                    <li class="nav-item">-->
    <!--                        <a class="nav-link" href="#">-->
    <!--                            <span data-feather="file-text"></span>-->
    <!--                            Year-end sale-->
    <!--                        </a>-->
    <!--                    </li>-->
</ul>
{% endwith %}
{% endwith %}