{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block js %}
<script>
    let GET_ACTIVITES_URL = "{% url 'api:load_activites' user.id %}";
</script>
<script src="{% static 'js/load_activities.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ page_header }}</h1>
    <!--                <div class="btn-toolbar mb-2 mb-md-0">-->
    <!--                    <div class="btn-group mr-2">-->
    <!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>-->
    <!--                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>-->
    <!--                    </div>-->
    <!--                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
    <!--                        <span data-feather="calendar"></span>-->
    <!--                        This week-->
    <!--                    </button>-->
    <!--                </div>-->
</div>

{% for sub in my_challenges %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h5">{{ sub.challenge.name }}</h1>
</div>
<span class="load_content" id="id_challenge_status_{{ sub.challenge.id }}"
      data-url="{% url 'api:challenge:graphic' sub.challenge.id sub.user.id %}">
   <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</span>
{% endfor %}
{% endblock %}
