.alert {
    padding: 20px;
    color: white;
    background-color: $dark;
    margin-bottom: 15px;
    z-index:10000;
    position: relative;

    &.error {
        background-color: #f44336;
    }
    &.success {
        background-color: green;
    }
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: black;
    }
}